body {
    text-align: center;
    background-color: wheat;
}

h1{
    font-size: 70px;
    color: white;
    font-family: 'Electrolize', sans-serif;
    text-shadow: 2px 4px black;
}

h2{
    font-family: 'Electrolize', sans-serif;
}

p{
    font-size: 15px;
    color: black;
}

.container{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 650px;
    height: 650px;
    border: 40px solid rgb(0, 0, 0);
    border-radius: 30px;
}

#clear-btn{
    margin-top: 20px;
    padding: 7px 40px;
    font-family: 'Electrolize';
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 5px black;
}

