body {
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 650px;
    height: 650px;
    border: 1px solid black
}

#reset-btn{
    margin-top: 20px;
}