body {
    text-align: center;
    background-color: wheat;
}

h1{
    font-size: 70px;
    color: white;
    font-family: 'Electrolize', sans-serif;
    text-shadow: 2px 4px black;
}

h2{
    font-family: 'Electrolize', sans-serif;
}

p{
    font-size: 15px;
    color: black;
    margin-top: 0px;
}

.container{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 650px;
    height: 650px;
    box-shadow: 10px 10px black;
}

.tools{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: -20px;
}

#clear-btn{
    margin-top: 50px;
    padding: 7px 40px;
    font-family: 'Electrolize';
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 5px black;
}

#clear-btn:hover{
    transform: scale(1.05)
}

#clear-btn:active{
    box-shadow: none;
    transform: translate(3px,5px)
}